* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root,
html,
body {
    font-family: 'Jost', sans-serif;
    height: 100%;
    /* background-color: #111A20; */
    background-color: #0d141a;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 1rem 14rem 0 14rem;

}

.content {
    min-height: calc(100vh - 150px - 150px);
}

.section__title {
    margin-bottom: 6rem;
    font-size: 1.75rem;
}

@media(max-width: 1468px) {
    .wrapper {
        padding: 1rem 10rem 0 10rem;
    }

}

@media(max-width: 968px) {
    .wrapper {
        padding: 0 2rem;
    }

    .section__title {
        margin-bottom: 3.25rem;
    }
}